@import "susy";
@import "normalize";
@import "breakpoint";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
$susy: ( columns: 12, global-box-sizing: border-box, container: 1200px, gutters: 1/2 );
$jb-primary-color: #FF7700;
$bg-color: #333;
$bg-dark: #272727;
$bg-light: #DDD;
$main-text: #FFF;
$light-gradient: linear-gradient(#FFF,#FAFAFA);
$dark-shadow: 0 0 0.3em 0.06em #111;
$active-gradient: linear-gradient(#FAFAFA,#F0F0F0);
$sect-head-light: #ffad66;
$jb-secondary-color: #1d9bc9;
$nav-text-color: #333;
$tablet: 799px;
/*BEGIN STYLE SHEET*/
@include border-box-sizing;
/*STRUCTURE*/
.Site {
  width: 100%;
  display: flex;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}
.site-header,
.site-footer {
  flex-shrink: 0;
}
.Site-content {
  flex: 1 0 auto;
}
.article-content {
  max-width: span(12 split);
  @include breakpoint($tablet) {
    max-width: span(9);
    float: left;
  }
}
.aside-content {
  max-width: span(12 split);
  @include breakpoint($tablet) {
    margin-left: gutter();
    width: span(3);
    float: left;
  }
}
.section-dark-bg {
  overflow: auto;
  @include span(12 split);
  text-align: left;
  background-color: $bg-dark;
  margin-bottom: 2em;
  padding: 2.5em 0;
}
.dark-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: span(10 of 12);
    margin: 0 auto;
    font-weight: 900;
    padding: 1.5rem 0 1.5rem 0;
  }
  p {
    padding-bottom: 1.5em;
    width: span(10 of 12);
    margin: 0 auto;
    line-height: 1.75em;
  }


}
html {
    font-size: 16px;
}

body {
  background-color: $bg-color;
  font-family: 'Lato', sans-serif;
  color: $main-text;
   ::-moz-selection {
    /* Code for Firefox */
    color: $jb-secondary-color;
  }
   ::selection {
    color: $jb-secondary-color;
  }
}
.wrap {
  width: 100%;
  @include container();
  margin: 0 auto;
}
/*TYPOGRAPHY*/
.title {
  text-align: center;
}
.sect-head {
  color: $jb-primary-color;
}
.sect-head-light {
  color: $sect-head-light;
}
.emphasis {
  color: $jb-secondary-color;
}
/*IMAGES*/
.main-image {
  max-width: 100%;
}
/*HEADER*/
header {
  margin-bottom: 2.5em;
  margin-top: 2.6em;
}
.head-image {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 3em;
    font-weight: 900;
    padding: 3rem 0;
    @include breakpoint($tablet) {
      font-size: 4em;
      padding: 4rem 0;
    }
  }
}
.juicebox {
  background-position: 50% 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/juicebox5.jpg');
}
.hip-hop {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/hiphop2.jpg');
}
.jazz {
  background-position: 50% 40%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/jazz4.jpg');
}
.funk {
  background-position: 50% 70%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/funk4.jpg');
}
.blues {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/blues4.jpg');
}
/*NAVIGATION*/
.menu-btn {
  margin: 0.8em 1.5em;
  text-decoration: none;
  color: $nav-text-color;
  background-color: $main-text;
  font-weight: 700;
  text-align: left;
}
.hide-large {
  display: block;
  @include breakpoint($tablet) {
    display: none;
  }
}
.hide-small {
  display: none;
  @include breakpoint($tablet) {
    display: block;
  }
}
nav {
  position: fixed;
  width: 100%;
  background-color: $main-text;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    @include breakpoint($tablet) {
      max-width: container();
      text-align: center;
      background-color: $main-text;
      padding: 0 1em;
      margin: 0 auto;
    }
    li {
      width: 100%;
      background-color: #222;
      text-align: left;
      border-bottom: 1px solid #1F1F1F;
      @include breakpoint($tablet) {
        float: left;
        width: auto;
        background-color: $main-text;
        border-bottom: none;
      }
      a {
        color: $main-text;
        width: 100%;
        padding: 0.8em 1.5em;
        font-weight: 700;
        text-decoration: none;
        display: block;
        @include breakpoint($tablet) {
          color: $nav-text-color;
          width: auto;
        }
      }
      a:hover:not(.active) {
        background-color: #292929;
        color: $jb-secondary-color;
        @include breakpoint($tablet) {
          background-color: inherit;
        }
      }
    }
  }

  .active {
    color: $main-text;
    background-color: $jb-primary-color;
    @include breakpoint($tablet) {
      color: $jb-primary-color;
      background-image: $light-gradient;
      box-shadow: 0 0 0.5em #888;
      position: relative;
    }
  }
  .right {
    float: left;
    @include breakpoint($tablet) {
      float: right;
    }
  }
}


footer {
  background-color: $main-text;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      display: inline;
      a {
        color: $nav-text-color;
        text-decoration: none;
        display: block;
        float: left;
        width: 50%;
        padding: 0.8em 1.5em;
        @include breakpoint($tablet) {
          display: inline-block;
          width: auto;
          float: none;
        }
      }
      a:hover {
        color: $jb-secondary-color;
      }
    }
  }
}
